@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Josefin+Sans:wght@300&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Josefin+Sans:wght@300&family=Luxurious+Script&family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Josefin+Sans:wght@300&family=Luxurious+Script&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Josefin+Sans:wght@300&family=Luxurious+Script&family=Monoton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
    background: rgb(110,214,39);
background: linear-gradient(0deg, rgba(110,214,39,1) 5%, rgba(175,9,68,1) 81%);
}

body {
    background: rgb(110,214,39);
background: linear-gradient(0deg, rgba(110,214,39,1) 5%, rgba(175,9,68,1) 81%);
}

.container {
    
    width: 100%;
}

/* Section Styles */
section {
    padding: 50px 20px;
    text-align: center;
}

.hero {
    color: white;
}

.about {
    background-color: #ffffff16;
    color: #333;
}

.services {
    background-color: #f4f4f41b;
    color: #333;
}

.contact {
    background-color: #33333310;
    color: white;
}

.col {
    display: flex;
flex-direction: column;
gap: 20px;
width: 100%;
padding: 1rem;
align-items: center;
}

/* Headings and Text */
h1, h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
   
}

/* Mobile Optimization */
@media (max-width: 600px) {
    section {
        padding: 40px 10px;
    }

    p {
        font-size: 1rem;
    }
}

img {
    height: 300px;
    width: auto;
    margin-bottom: 20px;
}

h2 {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 25px;
}

ul {
    list-style-type:georgian;
    margin: 20px 0;
    padding-left: 20px;
    align-items: left;
    font-family: "Roboto Mono", monospace;

}

li {
    font-family: "Roboto Mono", monospace;

}
.highlight {
    color: #490e2a;
    font-weight: bold;
}